<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form</title>
	<%= stylesheet_link_tag "form" %>
</head>
	<body>
		
		<h1>Add new data</h1>

		<%= render 'form', flower: @flower %>

		

		<a class="btn btn-primary" <%= link_to 'Back', flowers_path %></a>

	</body>
</html>
